<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>your nginx ip <%= ip %></p>
    <p>your other ip <%= ip2 %></p>
    <p>your lib ip <%= clientIp %></p>
    <p>your headers ip <%= headers %></p>
  </body>
</html>
